<!--CONTROL PANEL-->
<div class="vertical-nav bg-dark control-panel pt-5" id="sidebar">
<p class="text-white font-weight-bold text-uppercase px-3 small pb-4 text-center mb-3">Main</p>

<ul class="nav flex-column mb-0">
<li class="nav-item">
<a [routerLink]="['/home']" class="nav-link text-light font-italic">
  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
    Home
</a>
</li>
</ul>

<ul class="nav flex-column">
<li class="nav-item">
<a [routerLink]="['/home']" class="nav-link text-light font-italic">
  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
    Home
</a>
</li>
</ul>

<ul class="nav flex-column mb-0">
<li class="nav-item">
<a [routerLink]="['/list-animals']" class="nav-link text-light font-italic">
  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
    Listar Tus Animales
</a>
</li>
</ul>

<ul class="nav flex-column mb-0">
<li class="nav-item">
<a [routerLink]="['/home']" class="nav-link font-italic text-light">
  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
    Home
</a>
</li>
</ul>

</div><!--CONTROL PANEL-->

<!-- Search form -->
<div class="active-cyan-3 active-cyan-4 mb-4  bg-dark panel-superior">
<input class="form-control buscador " type="text" placeholder="Search" aria-label="Search">
<input class="form-control buscador" type="text" placeholder="Search" aria-label="Search">
<input class="form-control buscador" type="text" placeholder="Search" aria-label="Search">
<div *ngIf="!identity" class="margin-panel-user">
  <login class=""></login>
  <register class=""></register>
</div>
<div *ngIf="identity" class="margin-panel-user">
  <user-panel class=""></user-panel>
</div>


</div>
